<form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="e.g. John" formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="e.g. Smith" formControlName="lastName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Other Names</mat-label>
        <input matInput placeholder="e.g. Jonah" formControlName="otherNames">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput placeholder="Trinidad & Tobago" formControlName="country">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="jjsmith@example.com" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Confirm Email</mat-label>
        <input matInput placeholder="jjsmith@example.com" formControlName="confirmEmail">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Telephone Number</mat-label>
        <input matInput placeholder="1-868-867-5309" formControlName="telephoneNumber">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="" formControlName="password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" placeholder="" formControlName="confirmPassword">
    </mat-form-field>

    <button color="accent" mat-raised-button type="submit"><span>Sign Up</span></button>
</form>
